# Datos de ejemplo de conexión a la base de datos para el backend
DB_USER=postgres
DB_PASSWORD=password
DB_HOST=db
DB_PORT=5432
DB_NAME=app_db

# URL del Frontend para CORS (Cross-Origin Resource Sharing)
# Sólo hace falta añadir la variable de entorno en producción (Render)
# En local no es necesario configurar esta variable de entorno, ya que el frontend se ejecutará en localhost y el backend permitirá las solicitudes desde cualquier origen (CORS configurado para "*").

# FRONTEND_URL=